// export const API_URL = 'https://gateway.marvel.com:443/v1/'
// export const API_KEY = 'ts=X&apikey=XXXXXXXXXXXXXXXX&hash=XXXXXXXXXXXXXXX'
export const API_URL = 'CHANGEME_API_URL'
export const API_KEY = 'CHANGEME_API_KEY'
